
body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  width: 94%;
  margin: auto 0;
  /*min-width: 421px;*/
  /*border: 2px solid orange;*/
}


nav {
  color: white;
  height: 250px;
}

nav a {
  color: white;
}

nav a:hover {
  font-weight: bold;
}
.forums img {
  height: 30px;
  width: 30px;
}
.product-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid orange;*/
}

.top-left {
  text-decoration: underline;
  font-size: 22px;
  text-align: center;
}

.home, .forums, .image-add, .login {
  display: flex;
  flex: 1;
  align-items: flex-start;
  margin: 10px 0;
}


/*.home, .forums, .image-add, .login {
  display: flex;
  flex: 1;
  align-items: flex-start; this stop images from stretching
}*/

.home,
.forums,
.image-add,
.login,
img {
  align-items: center;
  padding: 0 5px;
}

.sort {
  margin-top: 10px;
  border-top: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-sort {
  margin-top: 5px;
  /*display: flex;*/
  /*margin: 12px 12px;*/
  /*border: 2px solid mistyrose;*/
  flex: 1;
}

.collection-sort label {
  color: white;
}


.gallery-scroll {
  margin-top: 15px;
}

.gallery-scroll ul {
  display: flex;
  align-items: space-around;
  padding: 0;
  margin:0;

}

.gallery-scroll li {
  flex: 1;
  list-style: none;
  border: 1px solid white;
  text-align: center;
  padding: 5px;
}

#text {
  border: 1px solid white;
  text-align: center;
  border: none:
  padding: 0 2px;
  flex: 4;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.gallery-cover {
  border-top: 1px solid #d9d9d9;
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  flex: 1;
}

.gallery-cover img {
  margin-top: 10px;
  max-width: 100%;
}

.gallery-cover h5{
  color: #b3b300;
}

@media screen and (max-width: 420px){
  .sort {
    flex-direction: column;
  }

  .collection-sort {
    padding: 10px 0;
  }
}

@media screen and (min-width: 680px) {

      .gallery, nav, .sort {
        flex-direction: row;
        max-width: 92%;
        margin: 0 auto;
        align-items: center;
      }

      .wrapper {
        width: 96%
        margin: 0 auto;
      }

      .gallery {
        flex-direction: row;
      }
      .gallery-cover {
        flex: 2 46%;
      }
      .sort {
        margin-bottom: 15px;
      }
      .top-left {
        flex: 1 100%;

      }
      .gallery-scroll {
        flex: 1 100%;
      }
       .product-filter {
         flex-direction: row;
         flex-wrap: wrap;
          }

       .logo {
         flex: 1 100%;
         text-align: center;
       }

       .sort {
         border: none;
       }
}

@media screen and (min-width: 947px) {
  .gallery, nav, .sort {
    max-width: 80%;
    margin: 0 auto;
  }

  .gallery-cover {
    flex: 1 33%;
  }

  .sort {
    border: none;
  }

  .top-left {
    margin-top: 15px;
  }

}
